body {
  background-color: whitesmoke;
}
#home {
  height: 40rem;
  display: flex;
  align-items: center;
}

#home img {
  border-radius: 50%;
  width: 90%;
}
#home h1 {
  font-family: Anton, sans-serif;
  font-weight: 900;
  font-size: 3rem;
}
#home button {
  width: fit-content;
}

#about {
  border-radius: 10px;
}

/* For mobile screen only */
@media screen and (max-width: 600px) {
  #home img {
    border-radius: 50%;
    width: 70%;
  }
  #home h1 {
    font-family: Anton, sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
  }
}

